title: Atlas Jekyll Template  
description: The Atlas Jekyll Template is a leg-up in starting your own website hosted on GitHub with content based in AsciiDoc.
plugins:
  - jekyll-paginate
  - jekyll-asciidoc
# uncomment baseurl if you want to publish the site to a subfolder
#baseurl: /blog
exclude:
- LICENSE
- README.adoc
- Gemfile
- Gemfile.lock
- Rakefile
asciidoc: {}
asciidoctor:
  base_dir: :docdir
  safe: unsafe
  attributes:
    icons: font
    idseparator: _
    stylesdir: css
    source-highlighter: coderay

collections:
  documents:
     output: true
  stories:
    output: true # Set to true to generate pages for each story
  artgallery01:
    output: false
  artgallery02:
    output: false
  pdfs:
    output: false

    
# defaults:
#   - scope:
#       path: "_artgallery"
#     values:
#       paginate: 5
#       paginate_path: "/artgallery/page:num/"



  