

<div class="container mainNavigation">
		<div class="container button mobile-menu-toggle" data-toggle="view-menu">
			<div class="rule menu-line">
				<hr>
			</div>
			<div class="rule menu-line">
				<hr>
			</div>
			<div class="rule menu-line">
				<hr>
			</div>
		</div>
		<div class="container menu-wrapper" data-toggler="show-menu" id="view-menu">
			<a href="index.html" class="responsive-picture nav-logo">
				<img alt="Starfire Industried Logo" src="/images/StarfireLogo.png">
			</a>
			<ul class="list-container menu">
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/index.html" data-toggle="view-menu">Home</a>
				</li>
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/artgallery/artgalleryHome.html" data-toggle="view-menu">Art Gallery</a>
				</li>
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/stories" data-toggle="view-menu">Stories</a>
				</li>
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/products/index.html" data-toggle="view-menu">Products</a>
				</li>
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/comingsoon" data-toggle="view-menu">Services</a>
				</li>
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/comingsoon" data-toggle="view-menu">Projects</a>
				</li>
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/docs/" data-toggle="view-menu">Library</a>
				</li>
				<li class="list-item-container nav-wrapper">
					<a class="link-text nav-item" href="/comingsoon" data-toggle="view-menu">About</a>
				</li>
			</ul>
		</div>
	</div>
</div>