---
layout: artwork
title: Art Gallery
---


<div id="artGallery" class="artGalleryBody">
  <div id='artGalleryPage' class="artGalleryPage">
    <!-- JavaScript will populate artwork entries here -->
  </div>
</div>

<!-- Pagination controls -->
<div class="paginationControl">
  <button id="prevButton" class="navPrevious">
    <img src="../images/Previous.bmp" alt="Previous">
  </button>

  <button id="nextButton" class="navNext">
    <img src="../images/Next.bmp" alt="Next">
  </button>
</div>

<div id="pageIndicator" class="pageStatus"></div>


<script>
    const artworkData = {{ site.artgallery01 | jsonify }};
</script>


Debug:<br/>

---- site.artgallery ----
{% for entry in site.artgallery01 %}
  <p>{{ entry | inspect }}</p>
{% endfor %}

<!-- 

---------------------------------- <br />
---------------------------------- <br />
Artworks Object: <br />

{% assign artworks = site.artgallery %}
{% for artwork in artworks %}
  {% if artwork.entries %}
    {% for data in artwork.entries %}
    <p>Title: {{ data.title }}</p>
    <p>Date: {{ data.date }}</p>
    <p>Description: {{ data.description }}</p>
    <p>Image URL: {{ data.image_url }}</p>
  {% endfor %}
  {% else %}
    <p>No artworks found.</p>
  {% endif %}
{% endfor %}

---------------------------------- <br />
---------------------------------- <br /> -->



