---
layout: default
title: Art Gallery
---


<div id="artGalleryBody" class="artGalleryBody">
{% for entry in site.artgallery %}
  <div id="artGallery" class="artGallery">
    {% for data in entry.entries %}
      <div class="artworkDisplay">  <!-- New wrapper -->
        <div class="artworkTitle"> {{ data.title }} </div> <!-- Static title -->
        <a href="{{ data.image_url }}" data-lightbox="gallery" data-title="{{ data.title }}">
          <img src="{{ data.image_url }}" alt="{{ data.title }}">
        </a>
        <div class="artworkOverlay"> {{ data.description }} </div> <!-- Hover overlay -->
      </div>
    {% endfor %}
  </div>
{% endfor %}
</div>