<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Starfire Industries AI</title>
    
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/asciidoctor.css">

    <script src="/js/vendor/jquery.min.js"></script>
</head>
<body class="body-dark">

    {% include navigation.html %}

    <main id="main-content">
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="/js/vendor/foundation.min.js"></script>
    <script src="/js/app.js" defer></script>
    
    <script>
        $(document).foundation();
    </script>
</body>
</html>